<!doctype html>
<head>
  <title>Flaskr</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <div class=container>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Flaskr</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if not current_user.is_authenticated %}
          <li><a href="{{ url_for('user.login') }}">Login</a></li>
          {% else %}
          <li><a href="{{ url_for('user.profile') }}">{{ current_user.name }}</a></li>
          <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    <div class=divider></div>
    <div class=section>
    {% block body %}{% endblock %}
    </div>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
</body>