{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <div class="row">
  {% for entry in entries %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{ url_for('static', filename='img/default.jpg') }}">
          <span class="card-title">{{ entry.title }}</span>
        </div>
        <div class="card-content">
          <p>{{ entry.body }}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </div>
{% endblock %}